body {
    /*background-image: url("BGCC.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
    background-image: radial-gradient(white,lightgray,darkgray)
    */
    background-image: radial-gradient(#9de3fb,#1aa3ff,#005ce6);
    display: flexbox;
}

#headerBar {
    width: 100%;
    height: 70px;
    text-align: center;
    float: right;
    padding: 0px;
    margin: 0px;
    align-items: center;
    align-content: center;
   /* border: 1px solid gold;*/
}

#headerBarItem {
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 0px;
    height: 22px;
    border-bottom: 1px solid black;
    float: right;
}

#headerBarItem a {
    margin: 0;
    font-size: 15px;
    font-family: Montserrat;
    color: black;
    text-align: center;
    text-decoration: none;

}

#MainText {
    width: 100%;
    text-align: center;
    align-content: center;
    vertical-align: center;
    padding-top:145px;
    /*border: 1px solid black;*/
    position: relative;
    z-index: -1;
}

#MainText h2 {
    display: inline-block;
    margin: auto;
    font-size: 22px;
    font-family: Montserrat;
    color: #444444;
    margin-bottom: 2px;
    padding: 0px;
}
#MainText h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    font-family: Montserrat;
    color: black;
    padding: 0px;
    margin-top: 0px;
}

#mine-button{
    position: absolute;
    left: 335px;
    bottom: 120px;
}