body {
   background-image: radial-gradient(#f5f5f5, #eef5ff, #d4e4fd);
}

* {
   color: black;
}

.mission {
   color: #444444;
}

.link {
   color: black;
}

#save,
#cancel {
   text-shadow: 0.1rem 0.1rem white
}

.home-button {
   fill: black;
}